.order{
  background:transparent;
  cursor:pointer;
  border:1px solid transparent;
  position:relative;
  text-align:center;
  transform:translate(-50%, 0);
  transition:all .6s ease-in-out;
  overflow:hidden;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.24px;
  box-shadow: 0 0 35px rgba(3, 3, 3, 0.06);
  border-radius: 4px;
  background-color: #36aeea;

    &:before{
      content:'';
      position:absolute;
      top:-130px;
      margin:auto;
      display:block;
      border-radius:50%;
      width:300px;
      height:300px;
      left:-30px;
      transition:box-shadow .7s ease-in-out;
      z-index:-1;
    }


      &:hover{
        color:#3eafe8;
      

          &::before{
            box-shadow:inset 0 0 0 160px #ffffff;
          }
      }

}