.investors_block{
  background-color: #f8f9fa;
}

.investiors{
  width: 100%;
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
}

.investors_img{
  margin-right: 11.9%;
}

.img_slack{
  width: 80px;
  height: 24px;
}

.img_a-icons{
  width: 38px;
  height: 34px;
}

.img_google{
  width: 80px;
  height: 28px;
}

.img_facebook{
  width: 80px;
  height: 18px;
}

.img_spotify{
  width: 80px;
  height: 24px;
}

.img_nike{
  width: 70px;
  height: 26px;
  margin-right: 0;
}