<section class="about">
    <div class="container">
      <div class="about_block">
        <div class="about_block_text">
          <img src="pic/icons/little_line.png" alt="No" class="little_line">
          <h2 class="block_title">ABOUT US</h2>
          <p class="about_article">Aliquam sed posuere urna, et gravida nisl. Praesent <br>  interdum nisl libero, pretium egestas purus eleifend <br>  vitae. Mauris suscipit vel lectus at luctus.</p>
          <button class="order btn_now">read more</button>
        </div>
        <div class="about_pic">
          <img src="image/curves-3.png" alt="No" class="about_big_img">
          <img src="image/curves3_min.png" alt="No" class="about_min_img">
        </div>
      </div>
    </div>
  </section>