<section class="our_clients">
    <div class="container">
    	<div class="our_clients_block">
	      <div class="clients">
	      	<div class="clients_header">
		        <img src="pic/icons/little_line.png" alt="No" class="little_line">
		        <h2 class="clients_title">our Clients say</h2>
	        </div>
	        <div class="clients_yaroslav">
	          <h3 class="clients_symbol">“</h3>
	          <p class="clients_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br>  enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris nisi ut aliquip ex ea commodo consequat. Duis aute<br> irure dolor in reprehenderit in voluptate velit esse </p>
	          <img src="pic/icons/layer-27.png" alt="No" class="clients_avatar">
	          <p class="clients_name">Pavliv Yaroslav <span class="clients_name_part">Web designer</span></p>
	        </div>
	        <div class="clients_john">
	          <h3 class="clients_symbol">“</h3>
	          <p class="clients_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br>  enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris nisi ut aliquip ex ea commodo consequat. Duis aute<br> irure dolor in reprehenderit in voluptate velit esse </p>
	          <img src="pic/icons/layer-28.png" alt="" class="clients_avatar">
	          <p class="clients_name">John Scott <span class="clients_name_part">The Fringe</span></p>
	        </div>
	      </div>
	      <div class="contacts">
			<div class="send_form"></div>
	      	<div class="blur">
		        <form class="contacts_form">
		          <h3 class="contacts_title">CONTACTS</h3>
	       		  <p class="contacts_article">Sign up for our newsletter to receive updates</p>
		          <label>
		            <input class="contacts_input" type="send" name="send_form" placeholder="Name">
		            <input class="contacts_input" type="send" name="send_form" placeholder="Phone">
		            <input class="contacts_input" type="send" name="send_form" placeholder="E-mail">
		            <button class=" contacts_button header_button">SEND</button>
		          </label> 
		        </form>
	      	</div>
     	  </div>
     	</div>
    </div>
  </section>