<section class="gallery_block">
    <div class="container">
      <div class="gallery clearfix">
        <img src="pic/icons/little_line.png" alt="No" class="little_line">
        <h2 class="gallery_title">Gallery</h2>
        <div class="gallery_table">
          <div class="gallery_col">
            <img src="image/layer-130.png" alt="No" class="col_img">
            <img src="image/layer-128.png" alt="No" class="col1_img">
          </div>
          <div class="gallery_col">
            <img src="image/layer-129.png" alt="No" class="col_img">
            <img src="image/layer-127.png" alt="No" class="col1_img">
          </div>
          <div class="gallery_col">
            <img src="image/layer-125.png" alt="No" class="col_img">
            <img src="image/layer-131.png" alt="No" class="col1_img">
          </div>
        </div>
      </div>
    </div>
  </section>