<header>
    <div class="container">
    	<div class="header_block">
	      <div class="header_menu clearfix">
	        <h2 class="logo"><span class="letter">M</span><span class="text_part">oun</span>tains</h2>
          <a href="#" class="m-menu-link">
            <i class="fa fa-bars">&#9776;</i>
          </a>
          <naw class="m-menu">
              <li class="close_menu">&times;</li>
              <li><a href="#">our story</a></li>
              <li><a href="#">services</a></li>
              <li><a href="#">work</a></li>
              <li><a href="#">journal</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="#">work</a></li>
              <li><a href="#">journal</a></li>
          </naw>
	        <naw class="menu visible-lg">
	            <a href="#">our story</a>
	            <a href="#">services</a>
	            <a href="#">work</a>
	            <a href="#">journal</a>
	            <a href="#">contact</a>
	            <a href="#">work</a>
	            <a href="#">journal</a>
	        </naw>
	        <button class="header_button">call us</button>
	      </div>
	      <div class="header_text border">
	      	<hr class="line_before">
	      	<hr class="line_after">
	        <h1>TRAVEL WITH US  <br><span class="header_text_part">to the <span class="letter">M</span>ountains</span></h1>
	        <p class="header_article">Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incidid</p>
	        <button class="order btn">ORDER NOW</button>
	      </div>
      </div>
    </div>
  </header>