<section class="investors_block">
    <div class="container">
      <div class="investiors clearfix">
        <a href="https://slack.com">
          <img src="pic/icons/slack.png" alt="No" class="investors_img img_slack">
        </a>
        <a href="#">
          <img src="pic/icons/a-icons.png" alt="No" class="investors_img img_a-icons">
        </a>
        <a href="https://www.google.com.ua">
          <img src="pic/icons/google.png" alt="No" class="investors_img img_google">
        </a>
        <a href="https://www.facebook.com">
          <img src="pic/icons/facebook-object.png" alt="No" class="investors_img img_facebook">
        </a>
        <a href="https://www.spotify.com">
          <img src="pic/icons/spotify.png" alt="No" class="investors_img img_spotify">
        </a>
        <a href="https://www.nike.com">
          <img src="pic/icons/nike.png" alt="No" class="investors_img img_nike">
        </a>
      </div>
    </div>
  </section>