<section class="our_journal">
    <div class="container">
      <div class="journal">
        <img src="pic/icons/little_line.png" alt="No" class="little_line">
        <h2 class="big_block_title">our journal</h2>



      <div class="hover_journal_block">
        <div class="table_1">
          <div class="journal_block_heart__img"></div>
          <div class="journal_block_heart__text">
              <h2 class="journal_block_title">LOVE</h2>
              <h3 class="love_title journal_block_subtitle">Lorem ipsum dolor sit amet,<br> consectetur adipisicing<br> elit, sed do</h3>
              <p class="journal_block_article">You know how to make best coffee in the<br> universe? Or, maybe you’re very good in<br> designing gloves? Tell everyone about<br> your experience and skills. </p>
              <p class="journal_number">01</p>
          </div>
        </div>
        <div class="table_2">
          <div class="journal_block_leaf__img"></div>
          <div class="journal_block_leaf__text">
              <h2 class="journal_block_title">tree</h2>
              <h3 class="love_title journal_block_subtitle">Lorem ipsum dolor sit<br> amet, <s>consectetur</s><br> adipisicing elit,</h3>
              <p class="journal_block_article">The way to a successful brand is hard,<br> but always very interesting. Share the full<br> story of your project – from the very first<br> day until now.</p>
              <p class="journal_number">02</p>
          </div>
        </div>
        <div class="table_3">
          <div class="journal_block_drop__img"></div>
          <div class="journal_block_drop__text">
              <h2 class="journal_block_title">tree</h2>
              <h3 class="love_title journal_block_subtitle">Lorem ipsum dolor sit<br> amet, <s>consectetur</s><br> adipisicing elit,</h3>
              <p class="journal_block_article">The way to a successful brand is hard,<br> but always very interesting. Share the full<br> story of your project – from the very first<br> day until now.</p>
              <p class="journal_number">03</p>
          </div>
        </div>
      </div>
      <table>
        <tr>
          <td class="journal_block_heart_img">
            <img src="pic/icons/heart.png" alt="No" class="icon">
          </td>
          <td class="journal_block_heart_text">
            <h2 class="journal_block_title">LOVE</h2>
            <h3 class="love_title journal_block_subtitle">Lorem ipsum dolor sit amet,<br> consectetur adipisicing<br> elit, sed do</h3>
            <p class="journal_block_article">You know how to make best coffee in the<br> universe? Or, maybe you’re very good in<br> designing gloves? Tell everyone about<br> your experience and skills. </p>
            <p class="journal_number">01</p>
          </td>
          <td class="journal_block_drop_img">
            <img src="pic/icons/drop.png" alt="No" class="icon">
          </td>
        </tr>
        <tr>
          <td class="journal_block_leaf_text">
            <h2 class="journal_block_title">tree</h2>
            <h3 class="leaf_title journal_block_subtitle">Lorem ipsum dolor sit<br> amet, <s>consectetur</s><br> adipisicing elit,</h3>
            <p class="journal_block_article">The way to a successful brand is hard,<br> but always very interesting. Share the full<br> story of your project – from the very first<br> day until now.</p>
            <p class="journal_number">02</p>
          </td>
          <td class="journal_block_leaf_img">
            <img src="pic/icons/leaf.png" alt="No" class="icon">
          </td>
          <td class="journal_block_drop_text">
            <h2 class="journal_block_title">WATER</h2>
            <h3 class="drop_title journal_block_subtitle">LITTLE PIECES OF<br> OUR PROUDNESS</h3>
            <p class="journal_block_article">What do you do better than your<br> competitors? What are you proud of?<br> What details and advantages of your<br> product you want people to know about?</p>
            <p class="journal_number">03</p>
          </td>
        </tr>
      </table>
      </div>
    </div>
  </section>