<section class="order_now">
    <div class="container">
      <div class="order_block">
        <img src="pic/icons/little_line.png" alt="No" class="little_line">
        <h2 class="block_title">DO YOU WANNA GO?</h2>
        <p class="main_article">Aliquam sed posuere urna, et gravida nisl. Praesent <br> interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.</p>
        <form class="order_form">
          <label>
            <input class="order_form_name" type="send" name="send_form" placeholder="Your name:">
          </label>
          <img src="pic/icons/shape-10.png" alt="No" class="form_line">
          <label>
            <input class="order_form_phone" type="send" name="send_form" placeholder="Your phone:">
          </label> 
        </form>
        <button class="order order_button">ORDER NOW</button>
        <div class="order_footnote">
          <img src="pic/icons/lock.png" alt="No" class="order_lock">
          <span class="order_text">* Your data will not be transferred</span>
        </div>
      </div>
    </div>
  </section>