<section class="travel_with_us">
  	<div class="container">
		<div class="travel">
			<img src="pic/icons/little_line.png" alt="No" class="little_line">
			<h2 class="travel_title">TRAVEL WITH US</h2>
			<div class="travel_block">
				<div class="travel_block_carpathian  offer">
					<img src="image/layer-110.png" alt="No" class="travel_block_img carpath_level">
					<h3 class="travel_block_title">Carpathian</h3>
					<p class="travel_block_article">Lorem ipsum dolor sit amet, consectetur.</p>
					<div class="travel_block_footnote">
						<s class="strike_text">3150$</s>
						<span class="travel_block_price">$793</span>
					</div>		
				</div>
				<div class="travel_block_alps offer">
					<img src="image/layer-4.png" alt="No" class="travel_block_img middle_level">
					<h3 class="travel_block_title">Alps</h3>
					<p class="travel_block_article">Lorem ipsum dolor sit amet, consectetur.</p>
					<div class="travel_block_footnote">
						<s class="strike_text">3150$</s>
						<span class="travel_block_price">$1893</span>
					</div>		
				</div>
				<div class="travel_block_pyrenees offer">
					<img src="image/layer-4.png" alt="No" class="travel_block_img middle_level">
					<h3 class="travel_block_title">Pyrenees</h3>
					<p class="travel_block_article">Lorem ipsum dolor sit amet, consectetur.</p>
					<div class="travel_block_footnote">
						<s class="strike_text">3150$</s>
						<span class="travel_block_price">$2593</span>
					</div>		
				</div>
				<div class="travel_block_rocky offer">
					<img src="image/layer-4.png" alt="No" class="travel_block_img middle_level">
					<h3 class="travel_block_title">Rocky</h3>
					<p class="travel_block_article">Lorem ipsum dolor sit amet, consectetur.</p>
					<div class="travel_block_footnote">
						<s class="strike_text">3150$</s>
						<span class="travel_block_price">$2123</span>
					</div>		
				</div>
				<div class="travel_block_kavkaz offer">
					<img src="image/layer-09.png" alt="No" class="travel_block_img kavkaz_level">
					<h3 class="travel_block_title">Kavkaz</h3>
					<p class="travel_block_article">Lorem ipsum dolor sit amet, consectetur.</p>
					<div class="travel_block_footnote">
						<s class="strike_text">3150$</s>
						<span class="travel_block_price">$593</span>
					</div>		
				</div>
			</div>
		</div>
  	</div>
  </section>