<section class="how_we_work">
    <div class="container">
      <div class="work">
        <img src="pic/icons/little_line.png" alt="No" class="little_line">
        <h2 class="big_block_title">HOW WE WORK</h2>
        <div class="work_items">
          <div class="work_items_block">
            <p class="work_items_number">1</p>
            <img src="pic/icons/drop_line.png" alt="No" class="hexagon_line">
            <img src="image/paper.png" alt="No" class="hexagon">
            <h3 class="work_items_title">Lorem ipsum dolor sit</h3>
            <p class="main_article">amet, consectetur adipisicing<br> elit, sed do eiusmod tempor<br> incididunt</p>
          </div>
          <div class="work_items_block">
            <p class="work_items_number">2</p>
            <img src="pic/icons/drop_line.png" alt="No" class="hexagon_line">
            <img src="image/user.png" alt="No" class="hexagon">
            <h3 class="work_items_title">Lorem ipsum dolor sit</h3>
            <p class="main_article">amet, consectetur adipisicing<br> elit, sed do eiusmod tempor<br> incididunt</p>
          </div>
          <div class="work_items_block">
            <p class="work_items_number">3</p>
            <img src="pic/icons/drop_line.png" alt="No" class="hexagon_line">
            <img src="image/book.png" alt="No" class="hexagon">
            <h3 class="work_items_title">Lorem ipsum dolor sit</h3>
            <p class="main_article">amet, consectetur adipisicing<br> elit, sed do eiusmod tempor<br> incididunt</p>
          </div>
          <div class="work_items_block">
            <p class="work_items_number">4</p>
            <img src="pic/icons/drop_line.png" alt="No" class="hexagon_line">
            <img src="image/check.png" alt="No" class="hexagon">
            <h3 class="work_items_title">Lorem ipsum dolor sit</h3>
            <p class="main_article">amet, consectetur adipisicing<br> elit, sed do eiusmod tempor<br> incididunt</p>
          </div>
        </div>
      </div>
    </div>
  </section>